.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    margin-top: 1rem;
}

.search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.search_form input {
    margin-right: 10px;
    width: 50%;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

@media only screen and (max-width: 768px) {
    
    .search_form {
        width: 80%; 
    }

    .search_form input {
        width: 100%; 
    }
}

@media only screen and (max-width: 480px) {
    .search_form {
        width: 90%; 
    }

    .search_form input {
        width: 80%;
    }
}

